OWM_API_KEY=your_openweathermap_api_key_here
POSTGRES_DB=weather_db
POSTGRES_USER=weather_user
POSTGRES_PASSWORD=secret
POSTGRES_HOST=db
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
SECRET_KEY=change-me-in-production
